<h1>タスク一覧</h1>
<p><%= notice %></p>

<h2>Search</h2>
<%= form_with(scope: :search, url: tasks_path, method: :get, local: true) do |form| %>
<div class="field" >

    <%= form.label :タイトル %>
    <%= form.text_field :search_title, class: "form-control", style:"width:200px;"%>
  
  <br>
  
  <div class="field">
    <%= form.label :ステータス %>
    <%= form.select :search_status, options_for_select(Task.statuses.keys.to_a), {prompt: "選択してください"}%>
  </div>
    <%= form.submit %>
<% end %>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>終了期限</th>
    <th>ステータス</th>
	</tr>

<% @tasks.each do |task| %>
  <tr class="task_row">
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.expired_at %></td>
    <td><%= task.status %></td>
    <td><%= link_to '詳細を確認する', task_path(task.id) %></td>
    <td><%= link_to 'タスクを編集する', edit_task_path(task.id) %></td>
    <td><%= link_to 'タスクを削除する', task_path(task.id), method: :delete ,data: { confirm: "本当に削除してもいいですか?" } %></td>
	</tr>
<% end %>
</table>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<%= link_to "タスク新規登録", new_task_path %>