<h1><%= @user.user_name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<table class="table">
  <tr>
    <th><%= t('view.task.index.title') %></th>
    <th><%= t('view.task.index.content') %></th>
    <th><%= t('view.task.index.expired') %></th>
    <th><%= t('view.task.index.status') %></th>
    <th><%= t('view.task.index.priority') %></th>
  </tr>

  <% @tasks.each do |task|%>
    <tr>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.expired_at %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'タスク一覧', tasks_path, class: "btn btn-outline-primary" %>
<%= link_to '管理画面へ', admin_users_path, class: "btn btn-outline-primary" %>