
<h1><%= @user.user_name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>

<p>
  <strong><%= t('view.user.show.admin') %></strong>
  <br>
  <%if @user.admin? %>
    <p>あり</p>
  <% else %>
    <p>なし</p>
  <% end %>
</p>
<%= link_to 'プロフィール編集', edit_admin_user_path(@user), class: "btn btn-outline-primary" %>
<%= link_to 'ユーザー一覧', admin_users_path ,class: "btn btn-outline-primary"%>
